In [1]:
import pandas as pd
import numpy as np

In [2]:
#movies = pd.read_csv("D:\\Praxis\\ML\\data\\ml-latest-small\\movies.csv")
#movies = pd.read_csv("C:\\Users\\Thanis\\Desktop\\Data Science\\Term 2\\Machine Learning 2\\Recommendation\\Project\\movie.csv")
movies = pd.read_csv("C:\\Users\\Thanis\\Desktop\\Data Science\\Term 2\\Machine Learning 2\\Recommendation\\ml-latest-small\\ml-latest-small\\movies.csv")

In [3]:
movies.sample(5)

      movieId                                       title           genres
2662     3564  Flintstones in Viva Rock Vegas, The (2000)  Children|Comedy
542       639                               Girl 6 (1996)     Comedy|Drama
6366    49793                      We Are Marshall (2006)            Drama
4780     7117                           Leprechaun (1993)    Comedy|Horror
6197    45175                          Kinky Boots (2005)     Comedy|Drama

In [4]:
genres_list = []
for i in movies['genres']:
    txt = i.split('|')
    for j in txt:
        if j not in genres_list:
            genres_list.append(j)
genres_list.sort()
#movies['genres'].split('|')

In [5]:
for i in genres_list:
    movies[i] = 0
movies

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9739,193585,Flint (2017),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#genres_list = movies.columns[3:]
len(genres_list)

20

In [7]:
for index, row in movies.iterrows():
    for current_genre in genres_list:
        if current_genre in row['genres']:
            movies.loc[index,current_genre] = 1

In [8]:
movies.sample(5)

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
3237,4373,Pootie Tang (2001),Comedy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4977,7619,"Miracle Worker, The (1962)",Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4391,6448,"Flight of the Phoenix, The (1965)",Action|Adventure|Drama,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1748,2346,"Stepford Wives, The (1975)",Mystery|Sci-Fi|Thriller,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,1,0,0
7386,79501,Deadly Outlaw: Rekka (a.k.a. Violent Fire) (Ji...,Crime|Drama|Thriller,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [9]:
sum(movies['Adventure'])

1263

In [11]:
### DAY 2

In [10]:
import scipy
from scipy.cluster.hierarchy import dendrogram,linkage

In [10]:
movies_sub = movies.iloc[:,3:]
movies_sub.sample(2)

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
4171,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1390,0,0,1,1,1,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0

Z = linkage(movies_sub,'complete')

In [11]:
import sklearn
from sklearn.cluster import AgglomerativeClustering

In [12]:
hclust = AgglomerativeClustering(n_clusters = 8,affinity = 'cosine', linkage = 'complete')

In [13]:
hclust.fit(movies_sub)

AgglomerativeClustering(affinity='cosine', linkage='complete', n_clusters=8)

In [14]:
movies['groups'] = hclust.labels_

### Proportion of max group in total

In [19]:
#movies[movies['genre'].contains('Romantic')].sample(5)

x = movies[movies['genres'].str.contains('Romance')]
max_occurence_group = x['groups'].mode().values[0]
print(((sum(x['groups']==0)) / ((x['groups']).count()))*100)

38.79331233341411

In [19]:
((sum(x['groups']==0)) / ((x['groups']).count()))*100

12.907268170426065

In [15]:
movies.sample(5)

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,groups
4990,7702,"Bells of St. Mary's, The (1945)",Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
5792,31660,Steamboy (Suchîmubôi) (2004),Action|Animation|Drama|Sci-Fi,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,3
7782,91784,Girl Walks Into a Bar (2011),Comedy|Drama|Fantasy,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1547,2083,"Muppet Christmas Carol, The (1992)",Children|Comedy|Musical,0,0,0,0,1,1,0,...,0,0,1,0,0,0,0,0,0,0
8221,103801,Drinking Buddies (2013),Comedy|Drama|Romance,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1

In [20]:
movies.drop(['groups'],axis = 1)

,movieId,title,genres,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9739,193585,Flint (2017),Drama,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# finding top count genres within each group

In [16]:
genre_list = movies[movies['groups'] == 0]['genres'].value_counts()
genre_list[0:10]


# Horror-Thriller

Horror                  167
Horror|Thriller         135
Crime|Drama             134
Crime|Drama|Thriller    125
Drama|War               114
Comedy|Crime            101
Thriller                 84
Children|Comedy          74
Horror|Sci-Fi            53
Crime|Thriller           45
Name: genres, dtype: int64

In [17]:
genre_list = movies[movies['groups'] == 1]['genres'].value_counts()
genre_list[0:10]

# Action comedy - A subgenre involving action and humour.

Comedy                    946
Comedy|Drama              435
Comedy|Romance            363
Comedy|Drama|Romance      276
Comedy|Horror              69
Adventure|Comedy           36
Comedy|Fantasy             33
Comedy|Documentary         31
Animation|Comedy           30
Comedy|Fantasy|Romance     24
Name: genres, dtype: int64

In [18]:
genre_list = movies[movies['groups'] == 2]['genres'].value_counts()
genre_list[0:10]

# Romcom

Action|Comedy                  92
Action|Crime|Thriller          66
Action|Drama                   62
Action|Crime|Drama|Thriller    61
Action|Thriller                60
Action                         60
Action|Drama|Thriller          43
Action|Sci-Fi|Thriller         43
Action|Adventure|Fantasy       41
Action|Adventure|Thriller      40
Name: genres, dtype: int64

In [19]:
genre_list = movies[movies['groups'] == 3]['genres'].value_counts()
genre_list[0:10]

#Action Thriller - movie with lots of suspense and action.

Drama                            1053
Drama|Thriller                    168
Action|Crime|Drama                 50
Drama|Musical                      44
Action|Drama|War                   41
Drama|Horror|Thriller              40
Drama|Sci-Fi                       30
Drama|Horror                       26
Drama|Fantasy                      24
Drama|Horror|Mystery|Thriller      20
Name: genres, dtype: int64

In [20]:
genre_list = movies[movies['groups'] == 4]['genres'].value_counts()
genre_list[0:10]

# Horror

Documentary                   339
Documentary|Drama              13
Documentary|War                 9
Documentary|IMAX                6
Crime|Documentary               4
Comedy|Documentary|Drama        2
Documentary|Musical|IMAX        1
Documentary|Drama|Thriller      1
Documentary|Mystery             1
Documentary|Drama|War           1
Name: genres, dtype: int64

In [21]:
genre_list = movies[movies['groups'] == 5]['genres'].value_counts()
genre_list[0:10]

# Other

Animation                          30
Action|Animation|Crime              3
Animation|Documentary               2
Action|Animation|Children|Crime     2
Animation|Crime|Drama               1
Action|Animation|Crime|Drama        1
Name: genres, dtype: int64

In [22]:
genre_list = movies[movies['groups'] == 6]['genres'].value_counts()
genre_list[0:10]

# Animation

Action|Adventure|Sci-Fi                66
Adventure|Drama                        41
Adventure|Animation|Children|Comedy    31
Adventure|Children                     23
Adventure|Animation|Children           16
Adventure|Sci-Fi                       15
Adventure|Animation|Comedy             13
Adventure|Comedy|Sci-Fi                13
Adventure                              12
Adventure|Comedy|Drama                 12
Name: genres, dtype: int64

In [23]:
genre_list = movies[movies['groups'] == 7]['genres'].value_counts()
genre_list[0:10]

# Adveture

Drama|Romance                     349
Romance                            21
Drama|Musical|Romance              21
Drama|Fantasy|Romance              18
Adventure|Drama|Romance            15
Adventure|Comedy|Romance           13
Drama|Romance|Thriller             11
Crime|Drama|Romance|Thriller        9
Drama|Mystery|Romance|Thriller      9
Drama|Mystery|Romance               9
Name: genres, dtype: int64

In [24]:
movies.loc[movies['groups']==6,'groups']= 5
movies.loc[movies['groups']==7,'groups']= 6

In [29]:
genre_list = movies[movies['groups'] == 7]['genres'].value_counts()
genre_list[0:10]

# Other

Series([], Name: genres, dtype: int64)

In [30]:
len(movies[movies['title'].str.contains('\(')])

9730

In [31]:
movies.shape

(9742, 24)

# RATINGS

In [26]:
ratings = pd.read_csv("C:\\Users\\Thanis\\Desktop\\Data Science\\Term 2\\Machine Learning 2\\Recommendation\\ml-latest-small\\ml-latest-small\\ratings.csv")

In [27]:
ratings.sample(2)

       userId  movieId  rating   timestamp
69356     448     4492     3.0  1019128846
75760     477     4306     4.0  1200939854

In [28]:
ratings.shape

(100836, 4)

In [65]:
data = pd.merge(ratings,movies, how = 'left', on = 'movieId')

In [66]:
data.shape

(100836, 27)

In [117]:
df = data.groupby('movieId',as_index=False)['rating'].mean()
df.sample(4)

      movieId    rating
5425    25959  2.500000
1659     2227  3.500000
8185   103366  2.000000
6423    51884  3.666667

In [122]:
df['votes'] = data.groupby('movieId',as_index=False).count()['rating']
df.head(3)

   movieId    rating  votes
0        1  3.920930    215
1        2  3.431818    110
2        3  3.259615     52

In [123]:
def recommender_func(data,min_votes):
    nw_data = data.copy()

    nw_data = nw_data.loc[nw_data['votes'] >= min_votes]
    denom = nw_data['votes'] + min_votes
    WR = ((nw_data['votes']/denom) * nw_data['rating']) + ((min_votes/denom) * np.mean(nw_data['rating']))

    nw_data['scores'] = WR
    return nw_data

In [136]:
top_movies = recommender_func(df,10)
movie_df = data.groupby('movieId',as_index=False).min()[['movieId','title','genres','groups']]

top_movies = pd.merge(top_movies, movie_df, how = 'inner', on = 'movieId').sort_values('scores',ascending=False)
top_movies.head()

,movieId,rating,votes,scores,title,genres,groups
158,318,4.429022,317,4.398534,"Shawshank Redemption, The (1994)",Crime|Drama,0
346,858,4.289062,192,4.246636,"Godfather, The (1972)",Crime|Drama,0
1055,2959,4.272936,218,4.236055,Fight Club (1999),Action|Crime|Drama|Thriller,2
131,260,4.231076,251,4.200462,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,5
488,1221,4.259690,129,4.200148,"Godfather: Part II, The (1974)",Crime|Drama,0

In [137]:
print(top_movies.shape)

(2269, 7)
(2269, 7)

# PUTTING EVERYTHING TOGETHER

In [42]:
# # Docu drama - a dramatized television film based on real events.
# Action comedy - A subgenre involving action and humour. 
# Action
# Romcom
# Horror
# Other

In [25]:
top_movies.loc[top_movies['groups'] == 6,'Category'] = 'Romance'
top_movies.loc[top_movies['groups'] == 5,'Category'] = 'Animation'
top_movies.loc[top_movies['groups'] == 4,'Category'] = 'Documentary'
top_movies.loc[top_movies['groups'] == 3,'Category'] = 'Drama'
top_movies.loc[top_movies['groups'] == 2,'Category'] = 'Action-Thriller'
top_movies.loc[top_movies['groups'] == 1,'Category'] = 'Romcom'
top_movies.loc[top_movies['groups'] == 0,'Category'] = 'Horror Thriller'

NameError: name 'top_movies' is not defined

In [139]:
category = input("Are there any categories you like?") #option for multiple ctegories next

top_movies.loc[top_movies['Category']==category,['title']].sample(5)

Are there any categories you like?Romance

1924    Girl Who Leapt Through Time, The (Toki o kaker...
734                                  Out of Africa (1985)
1247                  9 1/2 Weeks (Nine 1/2 Weeks) (1986)
243                                     Piano, The (1993)
1451                           Walk to Remember, A (2002)
Name: title, dtype: object

In [141]:
years = []

for title in top_movies.title:
    if title.find('(18') != -1:
        x = title.find('(18')
        years.append(int(title[x+1:x+5]))
    
    elif title.find('(19') != -1:
        x = title.find('(19')
        years.append(int(title[x+1:x+5]))
        
    elif title.find('(20') != -1:
        x = title.find('(20')
        years.append(int(title[x+1:x+5]))
    
    else:
        years.append(9999)

In [142]:
top_movies['year_released'] = years

In [143]:
top_movies.sample(4)

,movieId,rating,votes,scores,title,genres,groups,Category,year_released
1744,33166,3.890000,50,3.813675,Crash (2004),Crime|Drama,0,Horror Thriller,2004
798,2114,3.718750,16,3.608481,"Outsiders, The (1983)",Drama,3,Drama,1983
1253,3741,4.090909,11,3.777167,Badlands (1973),Crime|Drama|Thriller,0,Horror Thriller,1973
1587,6711,4.033784,74,3.962149,Lost in Translation (2003),Comedy|Drama|Romance,1,Romcom,2003

In [144]:
# use tags score to find out similar plot movies after we finish our clustering
top_movies.to_csv('filtered.csv')

# filter based on user's preferred years. for eg, 80's, 70's

In [49]:
# Data handling

### Filtering based on decades, say 70s, 80s, 90s

In [145]:
top_movies = top_movies.sort_values(by = 'scores',ascending = False)
top_movies.head(2)

,movieId,rating,votes,scores,title,genres,groups,Category,year_released
158,318,4.429022,317,4.398534,"Shawshank Redemption, The (1994)",Crime|Drama,0,Horror Thriller,1994
346,858,4.289062,192,4.246636,"Godfather, The (1972)",Crime|Drama,0,Horror Thriller,1972

In [147]:
top_movies = top_movies.sort_values(by = 'scores',ascending = False)


print("Are there any categories you like?") #option for multiple ctegories next
print("Romance/Animation/Documentary/Drama/Action-Thriller/Romcom/Horror Thriller/No Preference")
category = input()
year = int(input("Movies from what time do you like? For example 90s. You can also say no preference... "))

if (year < 20):
    starting_year = year + 2000
else:
    starting_year = year + 1900

ending_year = starting_year + 9

print(top_movies.loc[(top_movies['Category']==category) & (top_movies['year_released'] >= starting_year) & (top_movies['year_released'] <= ending_year)]['title'])

Are there any categories you like?
Romance/Animation/Documentary/Drama/Action-Thriller/Romcom/Horror Thriller/No Preference
Romance
Movies from what time do you like? For example 90s. You can also say no preference... 10
2160                          About Time (2013)
2128    Perks of Being a Wallflower, The (2012)
2211            The Theory of Everything (2014)
2069              Adjustment Bureau, The (2011)
2036         Twilight Saga: Eclipse, The (2010)
Name: title, dtype: object

In [ ]:
top_movies.loc[top_movies['groups'] == 6,'Category'] = 'Romance'
top_movies.loc[top_movies['groups'] == 5,'Category'] = 'Animation'
top_movies.loc[top_movies['groups'] == 4,'Category'] = 'Documentary'
top_movies.loc[top_movies['groups'] == 3,'Category'] = 'Drama'
top_movies.loc[top_movies['groups'] == 2,'Category'] = 'Action-Thriller'
top_movies.loc[top_movies['groups'] == 1,'Category'] = 'Romcom'
top_movies.loc[top_movies['groups'] == 0,'Category'] = 'Horror Thriller'

In [60]:
starting_year

1960

In [58]:
top_movies.sample(2)

,movieId,rating,votes,scores,title,genres,groups,Category,year_released
1091,3082,3.333333,39,3.353480,"World Is Not Enough, The (1999)",Action|Adventure|Thriller,2,Action-Thriller,1999
1827,46976,3.693182,44,3.644824,Stranger than Fiction (2006),Comedy|Drama|Fantasy|Romance,1,Romcom,2006

In [ ]:
year = 80

1980-1989

1900+ year to 1900+year+9

00s

00,10

2000+ year to 2000+year+9

In [26]:
movies_sub

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9738,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9739,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9740,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9741,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [196]:
#movies_sub.index = movies['title']

In [197]:
#movies_sub.head(5)

In [27]:
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
cos_movies = pd.DataFrame(cosine_similarity(movies_sub))

In [29]:
cos_movies.index = movies['title']
cos_movies.columns = movies['title']

In [30]:
cos_movies

title,Toy Story (1995),Jumanji (1995),Grumpier Old Men (1995),Waiting to Exhale (1995),Father of the Bride Part II (1995),Heat (1995),Sabrina (1995),Tom and Huck (1995),Sudden Death (1995),GoldenEye (1995),...,Gintama: The Movie (2010),anohana: The Flower We Saw That Day - The Movie (2013),Silver Spoon (2014),Love Live! The School Idol Movie (2015),Jon Stewart Has Left the Building (2015),Black Butler: Book of the Atlantic (2017),No Game No Life: Zero (2017),Flint (2017),Bungo Stray Dogs: Dead Apple (2018),Andrew Dice Clay: Dice Rules (1991)
title,,,,,,,,,,,,,,,,,,,,,
Toy Story (1995),1.000000,0.774597,0.316228,0.258199,0.447214,0.000000,0.316228,0.632456,0.000000,0.258199,...,0.447214,0.316228,0.316228,0.447214,0.0,0.670820,0.774597,0.00000,0.316228,0.447214
Jumanji (1995),0.774597,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.816497,0.000000,0.333333,...,0.000000,0.000000,0.000000,0.000000,0.0,0.288675,0.333333,0.00000,0.000000,0.000000
Grumpier Old Men (1995),0.316228,0.000000,1.000000,0.816497,0.707107,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.353553,0.000000,0.500000,0.000000,0.0,0.353553,0.408248,0.00000,0.000000,0.707107
Waiting to Exhale (1995),0.258199,0.000000,0.816497,1.000000,0.577350,0.000000,0.816497,0.000000,0.000000,0.000000,...,0.288675,0.408248,0.816497,0.000000,0.0,0.288675,0.333333,0.57735,0.000000,0.577350
Father of the Bride Part II (1995),0.447214,0.000000,0.707107,0.577350,1.000000,0.000000,0.707107,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.707107,0.000000,0.0,0.500000,0.577350,0.00000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Black Butler: Book of the Atlantic (2017),0.670820,0.288675,0.353553,0.288675,0.500000,0.288675,0.353553,0.000000,0.500000,0.288675,...,0.750000,0.353553,0.353553,0.500000,0.0,1.000000,0.866025,0.00000,0.707107,0.500000
No Game No Life: Zero (2017),0.774597,0.333333,0.408248,0.333333,0.577350,0.000000,0.408248,0.000000,0.000000,0.000000,...,0.577350,0.408248,0.408248,0.577350,0.0,0.866025,1.000000,0.00000,0.408248,0.577350
Flint (2017),0.000000,0.000000,0.000000,0.577350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.707107,0.707107,0.000000,0.0,0.000000,0.000000,1.00000,0.000000,0.000000
Bungo Stray Dogs: Dead Apple (2018),0.316228,0.000000,0.000000,0.000000,0.000000,0.408248,0.000000,0.000000,0.707107,0.408248,...,0.707107,0.500000,0.000000,0.707107,0.0,0.707107,0.408248,0.00000,1.000000,0.000000
Andrew Dice Clay: Dice Rules (1991),0.447214,0.000000,0.707107,0.577350,1.000000,0.000000,0.707107,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.707107,0.000000,0.0,0.500000,0.577350,0.00000,0.000000,1.000000

In [31]:
movies.head(2)

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,groups
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,1
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
movie_name = input("Enter the Movie name: ") 

x = movies[movies['title'].str.contains(movie_name)]['title'].tolist()
for i in x:
    print(">>>>",i)
    mov_coeff = cos_movies.loc[i,:].sort_values(ascending=False).head(5) 
    #print(mov_coeff)
    similar_movies = mov_coeff.index
    print(list(similar_movies))

Enter the Movie name: Jumanji
>>>> Jumanji (1995)
['Seventh Son (2014)', 'Chronicles of Narnia: Prince Caspian, The (2008)', 'Golden Compass, The (2007)', 'NeverEnding Story, The (1984)', 'Water Horse: Legend of the Deep, The (2007)']
>>>> Jumanji: Welcome to the Jungle (2017)
['Spy Kids 3-D: Game Over (2003)', 'Turbo: A Power Rangers Movie (1997)', 'Jumanji: Welcome to the Jungle (2017)', 'Sky High (2005)', 'Dragon Ball: Mystical Adventure (Doragon bôru: Makafushigi dai bôken) (1988)']

In [202]:
cos_movies_1 = cos_movies.copy()

In [203]:
cos_movies_1.index = movies['movieId']
cos_movies_1.columns = movies['movieId']

In [249]:
movie_id = input("Enter the movie Id: ") 


mov_coeff = cos_movies_1.loc[int(movie_id),:].sort_values(ascending=False).head(5) 
similar_movies_id = mov_coeff.index
print(list(similar_movies_id))

Enter the Customer Id: 77266
[7299, 79798, 77266, 3100, 3098]

In [259]:
lst = []
for i in similar_movies_id:
    lst.append(movies.loc[movies['movieId'] == i,]['title'].values[0])
print(lst)

['Monsieur Ibrahim (Monsieur Ibrahim et les fleurs du Coran) (2003)', "I Killed My Mother (J'ai tué ma mère) (2009)", 'Disgrace (2008)', 'River Runs Through It, A (1992)', 'Natural, The (1984)']